# Default ignored files
/workspace.xml
*.iml
/**/bower_components/
/**/node_modules/
/**/.idea/
/**/target/
/**/bin/
/**/.settings/
/**/.classpath
/**/.project
/**/.settings
/**/.hashes
/**/.vagrant/
*.log
